.cover__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  max-width: 100%;
  height: 740px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
}

.cover__card:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42,44,47,1);
  opacity: 0.3;
  z-index: -1;
  transition: opacity 200ms ease-in-out;
}

.cover__card:hover:before {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__card {
    height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__card {
    height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__card {
    height: 200px;
  }
}
