.places__description-paragraph {
  margin: 0 0 26px;
  line-height: 29px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}

.places__description-paragraph:last-of-type {
  margin: 0;
}

/*@media screen and (max-width: 1279px) {
  .places__description-paragraph {

  }
}*/
